        *
        {
          margin:0;
          padding:0;
          }
          #main
          {
           border:1px Solid black;
           width:100%;
           height:100px;
          }
          .a
          {
           border:1px black;
           width:35%;
           height:74px;
           margin-left:18px;
           display:flex;
           align-items:center;
           font-size:45px;
           margin-top:10px;
          }
          .p:active
          {
            Color:Green;
            text-decoration:underline;
          }
          .i
          {
           border:1px  black;
           width:32%;
           height:70px;
           float:Right;
           margin:18px;
           font-size:50px;
           display:flex;
           justify-content:Space-around;
          }
          .N
          {
           border:1px solid black;
           width:35%;
           height:520px;
           Font-size:30px;
           float:left;
          }
          .d
          {
           margin:20px;
          }
          .Center
          {
           border:1px solid black;
           width:40%;
           height:350px;
           float:right;
           margin-top:30px;
           margin-right:160px;
          }
          .Card
          {
           background:linear-gradient(to right,green,#50ff00b0);
           width:100%;
           height:120px;
           color:white;
           Font-size:30px;
           position:relative;
          }
          .o
          {
           Font-size:19px;
           line-height:33px;
           position:absolute;
          }
          .Card img
          {
          width:32%;
           border-radius:100px 100px;
           Float:right;
           margin-right:23px;
          }
        .Ali
          {
           width:31%;
           height:35px;
           margin-left:63%;
           margin-top:19px;
           Font-size:37px;
          }
          .i img
          {
            width:18%;
            border-radius:100px 100px;
          }
          .N img
          {
           Width:20%;
           border-radius:100px 100px;
          }
          .Em:active 
          {
           background-color:#ff0a00;
          }
          #Op:active 
          {
           color:green;
           text-decoration:underline;
          }
          .N p:active
          {
           background-color:#eaeaff97;
          }
          .m:active 
          {
          background-color:#eaeaff97;
          }
          .Ali:active
          {
           background-color:#eaeaff97;
          }